<div id="side-menu-container" class="container">
  <div class="content" id="side-bar-container-0">

    <a routerLink="main" routerLinkActive="active" id="side-bar-card-0" class="card">
      <svg width="25" height="25" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M4 21V10.08L12 3.12L20 10.08V21H14V15H10V21H4Z"/>
      </svg>
      <p>Главная</p>
    </a>

    <a routerLink="shorts" routerLinkActive="active" id="side-bar-card-1" class="card">
      <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M6.91025 6H17.7197V20.1355H6.91025V6Z" fill="white" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M6.91025 7.66302H4V18.4725H6.91025V7.66302Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M20.63 7.66302H17.7198V18.4725H20.63V7.66302Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M11.4835 11.4048L13.978 13.0678L11.4835 14.7308V11.4048Z" stroke="#141414" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>

      <p>Shorts</p>
    </a>

    <a routerLink="saved" routerLinkActive="active" id="side-bar-card-2" class="card">
      <svg width="25" height="25" viewBox="0 0 25 25" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.16666 20.0833V2.98331C4.16666 2.48626 4.5696 2.08331 5.06666 2.08331H17.6667C18.1637 2.08331 18.5667 2.48626 18.5667 2.98331V20.0833L11.3667 16.3606L4.16666 20.0833Z"/>
      </svg>


      <p>Saved</p>
    </a>

  </div>
</div>
